{% extends "base.html" %}

{% block title %}Register - SwimTellect{% endblock %}
{% load static %}
{% block content %}
<style>
    body {
        background: url("{% static 'images/pool-water.jpg.jpg' %}") no-repeat center center fixed;
        background-size: cover;
    }

    .logo-container {
        text-align: center;
        margin-bottom: 20px;
    }

    .form-logo {
        width: 120px;
        height: auto;
        margin-bottom: 10px;
    }

</style>
<div class="register-container">
    <div class="logo-container">
        <img src="{% static 'images/swimiq-logo-new.png' %}" alt="SwimTellect Logo" class="form-logo">
    </div>
    <h2>Join SwimTellect</h2>

    {% if messages %}
        {% for message in messages %}
            <p class="message">{{ message }}</p>
        {% endfor %}
    {% endif %}

    <form method="post" class="register-form">
        {% csrf_token %}

        {% for field in form %}
            <div class="form-group">
                {{ field.label_tag }}
                {{ field }}
                <div class="error">{{ field.errors }}</div>
            </div>
        {% endfor %}

        <button type="submit">Register</button>
    </form>
</div>
{% endblock %}
